body {
  background-image: url('https://i.gifer.com/QACY.gif');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Capsule {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 2px;
  border-color: black;
  margin: 5px;
  -webkit-box-shadow: 4px 7px 15px 3px rgba(0, 0, 0, 0.66);
  box-shadow: 4px 7px 15px 3px rgba(0, 0, 0, 0.66);
  border-radius: 28px 0px 28px 28px;
  border-style: none;
  background: #191F40;
  background: -moz-linear-gradient(45deg, #191F40 0%, #733822 65%, #595734 100%);
  background: -webkit-linear-gradient(45deg, #191F40 0%, #733822 65%, #595734 100%);
  background: linear-gradient(45deg, #191F40 0%, #733822 65%, #595734 100%);
}

.Capsule:hover {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -3px 13px 18px 7px rgba(0, 0, 0, 0.26);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -3px 13px 18px 7px rgba(0, 0, 0, 0.26);
}

.play {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .3);
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 5vh;
}


.table {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  cursor: pointer;
  border-radius: 28px 28px 28px 0px;
  background-color: #0C0D0B;
  color: rgba(255, 255, 255, 0.637);
  padding: 5px 10px 5px 10px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

button:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

.winner {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}